body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

main {
    flex: 1;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column; /* 垂直堆叠 */
    justify-content: center; /* 居中对齐 */
    align-items: center; /* 居中对齐 */
    box-sizing: border-box;
}


.logo {
    display: flex;
    align-items: center; /* 垂直居中 */
}

.logo img {
    width: 50px; /* 调整Logo大小 */
    height: auto;
    margin-right: 10px;
}

.site-title {
    margin: 0; /* 移除默认的margin */
}

.navbar {
    text-align: center;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ddd;
}

.hero-image {
    width: 100%;
    max-height: 300px; /* 根据需要调整 */
    object-fit: cover; /* 保持原始纵横比填充容器 */
}

.description {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin: 20px 0;
    border-radius: 8px;
}

.description p {
    line-height: 1.6;
    font-size: 16px;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.images-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* 允许在窄屏上换行 */
    margin: 20px; /* 添加一些边距 */
}

.support-flowchart {
    width: calc(50% - 20px); /* 减去两边的间距，确保两边有10px的间距 */
    height: auto;
    max-height: 600px; /* 控制最大高度 */
}

.new-image {
    width: calc(50% + 20px); /* 加宽第二张图片，确保两边有10px的间距 */
    height: auto;
    max-height: 600px; /* 控制最大高度 */
}
